@mixin signup_theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);

  body {
    background: linear-gradient(
      135deg,
      mat-color($accent, A200) 0%,
      mat-color($primary, A200) 100%
    );
  }
  .card-login {
    width: 30%;
    max-width: 350px;
    min-width: 200px;
  }
  .title-login {
    font-size: 34px !important;
    margin: 30px;

    font-weight: 900;
  }
  .register-button-login {
    //margin-bottom: 60px !important;
  }
  .button-login {
    //width: 100%;

    margin-top: 60px !important;
    width: 80%;
    background: linear-gradient(
      135deg,
      mat-color($accent, A200) 0%,
      mat-color($primary, A200) 100%
    );
  }
  .field-login {
    margin-top: 20px !important;
  }
}
